
        <div id="getting-started">
          <h1>calendar_helper demos</h1>
          <h2>With links in calendars day cell, you can put a lightbox with the event details...</h2>
          <p>We need to modify the original plugin for one project, creating a fork and including a support for HTML in cell_text var. For that, we create a <tt>:label</tt> option in the calendar method, and populate a secondary array with dates and HTML for labels. In the real application, these datas comes from an storage database engine.</p>

          <ol>
 
            <li>
              <h2><%= link_to('div_calendar_text_and_link','/calendar_helper_demo/div_calendar_text_and_link') %> <tt>With text and links</tt></h2>
              
              <p>Here is a tableless example.</p>
              
              <p>Demo at: <%= link_to('http://demos.cidadelas.com.br/calendar_helper_demo/div_calendar_text_and_link','/calendar_helper_demo/div_calendar_text_and_link') %>
            </li> 
          
            <li>
              <h2><%= link_to('table_calendar_text_and_link','/calendar_helper_demo/table_calendar_text_and_link') %> <tt>With text and links</tt></h2>
              
              <p>We modify the original plugin for one project, creating a fork to including support for HTML in cell_text var. For that, we create a <tt>:label</tt> option in the calendar method, and populate a secondary array with dates and HTML for labels. In the real application, these datas comes from an storage database engine.</p>
              
              <p>Demo at: <%= link_to('http://demos.cidadelas.com.br/calendar_helper_demo/table_calendar_text_and_link','/calendar_helper_demo/table_calendar_text_and_link') %>
            </li>

            <li>
              <h2><%= link_to('table_calendar','/calendar_helper_demo/table_calendar') %> <tt></h2>
              <p>The original plugin.</p>
              <p>Demo at: <%= link_to('http://demos.cidadelas.com.br/calendar_helper_demo/table_calendar','/calendar_helper_demo/table_calendar') %>
            </li>

          </ol>
        </div>

